@font-face {
    font-family:yes ;
    src: url(ADAM.CG\ PRO.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
   /* background-color: black;   */
    z-index: 10;
    position: relative;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #FEF2F4;
    position: relative;
    
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    
    
    }
#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #515050;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;

}
#nav-part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;

}
#nav-part2 h4:hover a{
    color: white;
}
nav h3{
    display: none;
}





    #center{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    padding-bottom: 2.5vw;
    
    
   

    
    
}


#left h3{
    width: 30vw;
    font-size: 2.4vw;
    font-family:yes;
    line-height: 3vw;
    padding: 0 2vw;
    color: rgb(14, 7, 7);


}
#center h1{
    
    font-size: 10vw;
    line-height: 9vw;
    text-align: right;
    padding: 0 2vw;
    color: rgb(3, 3, 3);
    margin-bottom: 25px;
    
    

    
}
#page1 video{
    padding: 0 2vw;
    border-radius: 30px;
    width: 100%;
    margin-top: 4vw;
    position: relative;
}
#hero-shape{
    position: absolute;
    height: 36vw;
    width: 46vw;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 75vh;
    filter: blur(20px);
    
}
#hero-1{
    height: 100%;
    width: 100%;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;

}
#hero-2{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(orangered,rgb(235, 107, 61));
    border-radius: 50%;
    filter: blur(17px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}
#hero-3{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(orangered,rgb(235, 107, 61));
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}

@keyframes anime {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
    
}

@keyframes anime1 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
    
}
#page2{
    padding: 8vw 0;
    min-height: 50vh;
    width: 100%;
    position: relative;
    background-color: #FEF2F4;

}


#moving{
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /*for firefox*/
}


#moving::-webkit-scrollbar{
    display: none;  /*for other browsers*/
    
}
.con{
    
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}
#round{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: coral;
    display: inline-block;
    margin: 0.5vw 1.5vw;

}
#moving h1{
    font-size: 9vw;
    display: inline-block;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page3{
    min-height: 80vh;
    width: 100%;
    background-color: #FEF2F4;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}
#page3 h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
    font-weight: 400;
    font-family: yes;
    font-weight: 2000;
    margin-bottom: 100px;
    z-index: 11;
    
}

#page3-img img{
    width:100%;
    border-radius: 20px;
    

}

#page3-img{
    width:20%;
    
    
}

#page3-img p {
    
    font-weight: 100;
    margin-top: 2vw;
    text-align: left;
    margin-left: 1vw;
    
}
 #page2 #gooey{
    height: 28vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(246, 87, 29);
    top: 58%;
    left: 28%;
    filter: blur(20px);
    animation-name: gooey;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    z-index: 10;

}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color:#FEF2F4 ;
    
    padding: 4vw 0;
}
@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0);
    }
    to{
        filter: blur(20px);
        transform: translate(-10%,10%) skew(-12deg);
    }
}

.elem{
    height: 100px;
    width: 100%;
    position: relative;
    
    border-bottom: 1px solid rgb(70, 69, 69);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2{
    font-family: yes;
    font-size: 3vw;
    z-index: 9;
    font-weight: bold;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color:rgba(255, 68, 0, 0.767);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}
#fixed-img{
    height: 29vw;
    width: 25vw;
    
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 23%;
    display: none;
    background-size: cover;
    background-position: center;
}
#pg4{
    height: 75vh;
    width: 100%;
    background-color:#FEF2F4 ;
    padding-bottom: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
#page5{
    height: 150vh;
    width: 100%;
    
    /* background-color:#FEF2F4 ; */
   
}
#footer{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9;
    bottom: 0;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1vw 3vw;
    
    
}
#footer h1{
    font-size: 20vw;
}
#footer-div{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-bottom{
    
    height: 10vh;
    width: 100%;
}
#f-left h4{
    font-family: yes;
    font-size: 2vw;
    margin: 0;
}

#f-right h4{
    font-family: yes;
    font-size: 1vw;
    text-align: center;
    
}


#pg4 h1{
    font-family: yes;
    text-align: center;
    font-size: 5vw;
    padding-bottom: 2vw;
    
}
 

#f-left h4 a{
    text-decoration: none;
    color: white;
   
}
#f-left h4:hover a{
   color: orangered;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 9999;
    top: 0;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1 {
    color: transparent;
    font-size: 5vw;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
    font-family: yes;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
#full-scr{
    height: 100vh;
    width: 100%;
    z-index: 99;
    top: -100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.568);
    transition: all ease 0.8s;
}
#fulldiv1{
    height: 50%;
    width: 100%;
    background-color: #FEF2F4;
    position: relative;
    z-index: 1000;
}
hr{
    width: 100%;
}
#links{
    padding-top: 2vw;
}
#links a{
    text-decoration: none;
    color: white;
    

}

@media (max-width:600px) {
    #loader h1 {
        color: transparent;
        font-size: 9vw;
        background: linear-gradient(to right, orange, orangered);
        -webkit-background-clip: text;
        text-transform: uppercase;
        position: absolute;
        opacity: 0;
        font-family: yes;
        animation-name: load;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
    }
    #page1{
        min-height: 100vh;
        width: 100%;
        background-color: #FEF2F4;
        position: relative;
        padding: 0 0vw;
        
    }
    nav{
        padding: 8vw 5vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FEF2F4;
        
        
        }
    nav img{
        height: 9vh;
        width: 30vw;
        transition: all ease 0.2s;
    }
    #nav-part2{
        display: flex;
        align-items: center;
        gap: 2vw;
        display: none;
    }
    #nav-part2 h4{
        padding: 10px 20px;
        border: 1px solid #515050;
        border-radius: 50px;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        transition: all ease 0.4s;
        overflow: hidden;
    }
    #nav-part2 h4::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;
    
    }
    #nav-part2 h4:hover::after{
        bottom: 0;
        border-radius: 0;
    
    }
    #nav-part2 h4 a{
        text-decoration: none;
        color: black;
        position: relative;
        z-index: 9;
    
    }
    #nav-part2 h4:hover a{
        color: white;
    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        font-family: yes;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }
    #center{
        height: 60vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content:space-between;
        padding-bottom: 2.5vw;
        flex-direction: column-reverse;
        padding: 10vw 5vw;
        
        
       
    
        
        
    }
    
    
    #left h3{
        width:95% ;
        font-size: 6vw;
        font-family:yes;
        line-height: 7vw;
        padding: 0 2vw;
        color: rgb(14, 7, 7);
    
    
    }
    #center h1{
        
        font-size: 16vw;
        line-height: 14vw;
        text-align: right;
        padding: 10vw 2vw;
        color: rgb(3, 3, 3);
        margin-bottom: 25px;
        
        
    
        
    }
    #page1 video{
        padding: 0 2vw;
        border-radius: 20px;
        width: 100%;
        margin-top: 4vw;
        position: relative;
        height: 70vh;
        object-fit: cover;
        object-position: center;
    }
    #hero-shape{
        position: absolute;
        height: 120vw;
        width: 96vw;
        background-color: orangered;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        right: 0;
        top: 75vh;
        filter: blur(20px);
        
    }
    #page2{
        padding: 8vw 0;
        min-height: 50vh;
        width: 100%;
        position: relative;
        background-color: #FEF2F4;
    
    }
    
    
    #moving{
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none; /*for firefox*/
    }
    
    
    #moving::-webkit-scrollbar{
        display: none;  /*for other browsers*/
        
    }
    .con{
        
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
        
    }
    #round{
        height:30px;
        width: 30px;
        border-radius: 50%;
        background-color: coral;
        display: inline-block;
        margin: 0.5vw 1.5vw;
    
    }
    #moving h1{
        font-size: 15vw;
        display: inline-block;
    }
    #page3{
        min-height: 90vh;
        width: 100%;
        background-color: #FEF2F4;
        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10vw 4vw;
        position: relative;
        z-index: 9;
        flex-direction: column;
    }
    #page3 h1{
        font-size: 8vw;
        width: 100%;
        line-height: 10vw;
        font-weight: 400;
        font-family: yes;
        margin-bottom: 100px;
        padding-top: 5vw;
        
    }
    
    #page3-img img{
        width:100%;
        border-radius: 10px;
        
        
    
    }
    
    #page3-img{
        width:70%;
        z-index: 11;
        
        
    }
    
    #page3-img p {
        
        font-weight: 100;
        margin-top: 3vw;
        text-align: left;
        margin-left: 1vw;
        
    }
     #page2 #gooey{
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(246, 87, 29);
        top: 58%;
        left: 28%;
        filter: blur(20px);
        animation-name: gooey;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 4s;
        
    
    }
    #page4{
        min-height: 100vh;
        width: 100%;
        
        background-color:#FEF2F4 ;
        
        padding: 4vw 0;
    }
    #pg4 h1{
        font-family: yes;
        text-align: center;
        font-size: 6vw;
        padding-bottom: 2vw;
        padding-top: 1vw;
        
    }

    
    
    
    #footer{
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 9;
        bottom: 0;
        color: white;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        padding: 2vw 3vw;
        
        
    }
    #footer h1{
        font-size: 15vw;
        font-family: yes;
    }
    #footer-div{
        height: 40vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        
        
        
    }

    #f-left{
        
        height: 40vh;
        width:95%;
        padding: 0;
    }
    #f-right{
        height: 40vh;
        width:95%;
        padding: 0;
    }
    #f-left h4{
        font-family: yes;
        font-size: 10vw;
        padding: 0;
        width: 90%;
        
    }
    #f-right h4{
        font-family: yes;
        font-size: 3vw;
        text-align: center;
        line-height: 4vw;
    }
    #page5{
        height: 70vh;
        width: 100%;
        
         /* background-color:#FEF2F4 ;  */
       
    }
    #links{
        padding-top: 4vw;
    }
    #links a{
        text-decoration: none;
        color: white;
        
    
    }
    #full-scr{
        height: 100vh;
        width: 100%;
        z-index: 99;
        top: -200%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.568);
        transition: all ease 0.8s;
    }
    #fulldiv1{
        height: 50%;
        width: 100%;
        background-color: #FEF2F4;
        position: relative;
        z-index: 1000;
    }
    .elem{
        height: 100px;
        width: 100%;
        position: relative;
        
        border-bottom: 1px solid rgb(70, 69, 69);
        display: flex;
        align-items: center;
        padding: 0 2vw;
        overflow: hidden;
    }
    
    .elem h2{
        font-family: yes;
        font-size: 3vw;
        z-index: 9;
        font-weight: bold;
    }
    .overlay{
        height: 100%;
        width: 100%;
        background-color:rgba(255, 68, 0, 0.767);
        position: absolute;
        left: 0;
        top: -100%;
        transition: all ease 0.2s;
    }
    .elem:hover .overlay{
        top: 0;
    }
    #fixed-img{
        height: 29vw;
        width: 25vw;
        
        border-radius: 10px;
        position: fixed;
        z-index: 99;
        left: 50%;
        top: 23%;
        display: none;
        background-size: cover;
        background-position: center;
    }
    #page5{
        height: 70vh;
        width: 100%;
        
        /* background-color:#FEF2F4 ; */
       
    }
    #pg4{
        height: 45vh;
        width: 100%;
        background-color:#FEF2F4 ;
        padding-bottom: 10vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vw;
    }
}